<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %-5level %logger:%method:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%-5level [%class{0}.%M:%line] %msg%n</pattern>
		</encoder>
		<append>true</append>
		<file>/var/log/gate-services.log</file>
	</appender>
    -->
    <logger name="org.anc.lapps" level="debug"/>
	<logger name="org.anc" level="debug"/>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
